.infoItem{
    text-align: start;
    margin-bottom: 8px;
}

.type{
    font-size: 16px;
    color: #081F32;
    font-weight: 700;
}

.value{
    font-weight: 400;
    font-size: 14px;
    color: #6E798C;
}

.line{
    margin-top: 11px;
    height: 1px;
    width: 100%;
    background: rgba(33, 33, 33, 0.08);
}
