.inputWrapper{
    display: flex;
    align-items: center;
    border: 2px solid #757575;
    border-radius: 8px;
    padding-left: 12px;
}

.input{
    width: 100%;
    padding: 12px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #757575;
}

.searchIcon{
    color: #757575;
}